body {
  color: #222;
  background: #f1f0f0;
  font: 18px/30px Georgia, serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
}

h1,
h3 {
  color: #806265;
}
header {
  text-align: center;
}

header ul {
  text-align: left;
}
